<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wang.bannong.gk5.test.dao.mapper.ShiroUserMapper">
  <resultMap id="BaseResultMap" type="wang.bannong.gk5.test.common.ShiroUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="passwd" jdbcType="VARCHAR" property="passwd" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, role, passwd, permission
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shiro_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shiro_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="wang.bannong.gk5.test.common.ShiroUser">
    insert into shiro_user (id, name, role, 
      passwd, permission)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{role,jdbcType=VARCHAR}, 
      #{passwd,jdbcType=VARCHAR}, #{permission,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="wang.bannong.gk5.test.common.ShiroUser">
    insert into shiro_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="role != null">
        role,
      </if>
      <if test="passwd != null">
        passwd,
      </if>
      <if test="permission != null">
        permission,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null">
        #{passwd,jdbcType=VARCHAR},
      </if>
      <if test="permission != null">
        #{permission,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="wang.bannong.gk5.test.common.ShiroUser">
    update shiro_user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        role = #{role,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null">
        passwd = #{passwd,jdbcType=VARCHAR},
      </if>
      <if test="permission != null">
        permission = #{permission,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="wang.bannong.gk5.test.common.ShiroUser">
    update shiro_user
    set name = #{name,jdbcType=VARCHAR},
      role = #{role,jdbcType=VARCHAR},
      passwd = #{passwd,jdbcType=VARCHAR},
      permission = #{permission,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from shiro_user
    where name = #{name,jdbcType=VARCHAR}
  </select>

  <select id="selectByBo" parameterType="wang.bannong.gk5.test.common.ShiroUser" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from shiro_user
    where 1=1
    <if test="name != null">
      and name = #{name,jdbcType=VARCHAR}
    </if>
    <if test="role != null">
      and role = #{role,jdbcType=VARCHAR}
    </if>
    <if test="passwd != null">
      and passwd = #{passwd,jdbcType=VARCHAR}
    </if>
    <if test="permission != null">
      and permission = #{permission,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>