<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wang.bannong.gk5.iam.dao.mapper.SysRoleTopicMapper">
  <resultMap id="BaseResultMap" type="wang.bannong.gk5.iam.common.domain.SysRoleTopic">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="topic_id" jdbcType="BIGINT" property="topicId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, role_id, topic_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role_topic
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_role_topic
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="wang.bannong.gk5.iam.common.domain.SysRoleTopic">
    insert into sys_role_topic (id, role_id, topic_id
      )
    values (#{id,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, #{topicId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="wang.bannong.gk5.iam.common.domain.SysRoleTopic">
    insert into sys_role_topic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="topicId != null">
        topic_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="topicId != null">
        #{topicId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="wang.bannong.gk5.iam.common.domain.SysRoleTopic">
    update sys_role_topic
    <set>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="topicId != null">
        topic_id = #{topicId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="wang.bannong.gk5.iam.common.domain.SysRoleTopic">
    update sys_role_topic
    set role_id = #{roleId,jdbcType=BIGINT},
      topic_id = #{topicId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>