<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wang.bannong.gk5.iam.dao.mapper.SysTopicMapper">
  <resultMap id="BaseResultMap" type="wang.bannong.gk5.iam.common.domain.SysTopic">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="unique" jdbcType="VARCHAR" property="unique" />
    <result column="menu2_id" jdbcType="BIGINT" property="menu2Id" />
    <result column="menu3_id" jdbcType="BIGINT" property="menu3Id" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, unique, menu2_id, menu3_id, status, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_topic
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_topic
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="wang.bannong.gk5.iam.common.domain.SysTopic">
    insert into sys_topic (id, name, unique, 
      menu2_id, menu3_id, status, 
      create_time, modify_time)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{unique,jdbcType=VARCHAR}, 
      #{menu2Id,jdbcType=BIGINT}, #{menu3Id,jdbcType=BIGINT}, #{status,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="wang.bannong.gk5.iam.common.domain.SysTopic">
    insert into sys_topic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="unique != null">
        unique,
      </if>
      <if test="menu2Id != null">
        menu2_id,
      </if>
      <if test="menu3Id != null">
        menu3_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="unique != null">
        #{unique,jdbcType=VARCHAR},
      </if>
      <if test="menu2Id != null">
        #{menu2Id,jdbcType=BIGINT},
      </if>
      <if test="menu3Id != null">
        #{menu3Id,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="wang.bannong.gk5.iam.common.domain.SysTopic">
    update sys_topic
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="unique != null">
        unique = #{unique,jdbcType=VARCHAR},
      </if>
      <if test="menu2Id != null">
        menu2_id = #{menu2Id,jdbcType=BIGINT},
      </if>
      <if test="menu3Id != null">
        menu3_id = #{menu3Id,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="wang.bannong.gk5.iam.common.domain.SysTopic">
    update sys_topic
    set name = #{name,jdbcType=VARCHAR},
      unique = #{unique,jdbcType=VARCHAR},
      menu2_id = #{menu2Id,jdbcType=BIGINT},
      menu3_id = #{menu3Id,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByBo" parameterType="wang.bannong.gk5.iam.common.domain.SysTopic" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_topic
    <where>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT}
      </if>
      <if test="name != null">
        AND name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="unique != null">
        AND unique = #{unique,jdbcType=VARCHAR}
      </if>
      <if test="menu2Id != null">
        AND menu2_id = #{menu2Id,jdbcType=BIGINT}
      </if>
      <if test="menu3Id != null">
        AND menu3_id = #{menu3Id,jdbcType=BIGINT}
      </if>
      <if test="status != null">
        AND status = #{status,jdbcType=TINYINT}
      </if>
    </where>
  </select>
</mapper>