<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd  
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-4.1.xsd">

    <!-- properties配置文件加载 -->
    <!--<context:property-placeholder location="classpath*:config.properties" ignore-unresolvable="true"/>-->

    <!-- 模板数据导入（目前只有code-name映射数据）-->
    <!--<import resource="template-data.xml"/>-->
    <bean id="masterMapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="wang.bannong.gk5.test.mapper" />
        <property name="sqlSessionTemplateBeanName" value="masterSqlSessionTemplate" />
        <property name="nameGenerator" ref="masterMapperBeanNameGenerator"/>
    </bean>
    <bean id="masterMapperBeanNameGenerator" class="wang.bannong.gk5.mybatis.x.MapperBeanNameGenerator">
        <constructor-arg value="master"/>
    </bean>

    <bean id="slaveMapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="wang.bannong.gk5.test.mapper" />
        <property name="sqlSessionTemplateBeanName" value="slaveSqlSessionTemplate" />
        <property name="nameGenerator" ref="slaveMapperBeanNameGenerator"/>
    </bean>
    <bean id="slaveMapperBeanNameGenerator" class="wang.bannong.gk5.mybatis.x.MapperBeanNameGenerator">
        <constructor-arg value="slave"/>
    </bean>

</beans>
